/**
 * About page
 */
.about-df {
	padding: rem-calc(40) 0;
	background: url(images/bg-about.jpg) no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	@extend %rel;

	p {
		font-size: rem-calc(14);
		line-height: 1.2;
		&:last-child {
			margin: 0;
		}
	}
}

%default-arrows {
	bottom: 0;
	@extend %transition;
}

.icon-arrow {
	padding: rem-calc(10) rem-calc(15);
	background: $orange;
}

.next-about {
	@extend %default-arrows;
	right: 0;
}

.prev-about {
	@extend %default-arrows;
	left: 0;
}

.orbit-next,.orbit-prev {
	display: none !important;
}

.about-slider {
	padding: rem-calc(60) 0;
	p {
		font-size: rem-calc(14);
		line-height: 1.2;
	}
}

.margin-title {
	margin-bottom: rem-calc(40);
}

.about-thumb {
	height: rem-calc(470);
	@extend %ovhidden;
}

.content-slide-a {
	right: 0;
	top: rem-calc(40);
	@extend %rounded;
	p {
		color: $orange-lite;
	}
}

.list-abouts {
	div {
		display: none;
		@include opacity(0);

		&.active {
			display: block;
			@include opacity(1);
		}
	}
}

.content-slide-b {
	@include panel($bg: #f2f504);
	left: rem-calc(10);
	top: rem-calc(40);
	p {
		color: #333;
	}
}

.content-slide-c {
	@include panel($bg: #e06037);
	right: rem-calc(10);
	top: rem-calc(40);
	p {
		color: white;
	}
}

.content-slide-d {
	@include panel($bg: #d12502);
	left: rem-calc(10);
	bottom: rem-calc(40);
}

.content-slide-e {
	@include panel($bg: #f9f60f);
	right: rem-calc(10);
	bottom: rem-calc(40);
}

.orbit-bullets {
	li {
		&.active {
			border: 2px solid $orange;
		}
	}
}

.nav-slide-title {
	font-size: rem-calc(22);
	padding: 0 rem-calc(20);
	background: $orange-hard;
	line-height: 2.15;
	display: none;
}
