/**
 * Contact page
 */
#contact-page {
	padding: rem-calc(30);
	background: url(images/bg-contact.jpg);
}

%contact-circles {
	@extend %transition;
	height: rem-calc(460);
	cursor: pointer;
}

.orange-circle {
	@extend %contact-circles;
	@include background-image(linear-gradient(left, #de2c65, #f9b019));
	@include border-radius(0 460px 460px 0);
	@include transform(rotate(-45deg) translate3d(20px,-70px,10px));
}

.violet-circle {
	@extend %contact-circles;
	@include background-image(linear-gradient(left, #452a6e, #d64e98));
	@include border-radius(460px 0 0 460px);
	@include transform(rotate(-45deg) translate3d(-47px,93px,10px));
}

.user-forms {
	@extend %transition;
	a {
		@extend %transition;
		&:hover {
			color: $orange;
		}
	}
}

%consumer-titles {
	@extend %transition;
	font-size: rem-calc(36);
	line-height: 1.1;
}

.need-this {
	@extend %consumer-titles;
	top: rem-calc(130);
	left: 44%;
}

.buy-this {
	@extend %consumer-titles;
	bottom: rem-calc(90);
	left: 20%;
}

%common-forms {
	@extend %transition;
	@include border-radius(460px);
	width: rem-calc(460);
	height: rem-calc(460);
	left: rem-calc(10);
	top: rem-calc(18);
	@include opacity(0);
}

.form-need {
	@extend %common-forms;
	@include background-image(linear-gradient(left, #de2c65, #f9b019));
}

.form-buy {
	@extend %common-forms;
	@include background-image(linear-gradient(left, #452a6e, #d64e98));
}

.info-contacts {
	margin-top: rem-calc(60);
	h5 {
		color: $yellow;
	}
	h6 {
		margin: 0;
		&.first {
			margin-top: rem-calc(14);
		}
	}
	p {
		font-size: rem-calc(14);
		line-height: 1.1;
	}
}

.icon-phone {
	margin:rem-calc(18) rem-calc(10) 0 rem-calc(10);
}

.icon-band {
	margin-bottom: rem-calc(40);
}

.local-title {
	font-size: rem-calc(12);
	color: $orange-hard;
	margin-bottom: rem-calc(10);
}

.close-form {
	top: 0;
	right: 0;
	@extend %transition;
	&:hover {
		@include rotate(-360deg);
	}
}