@font-face {
	font-family: 'Gotham-Bold';
	src: url('fonts/Gotham-Bold.eot?') format('eot'), 
	     url('fonts/Gotham-Bold.otf')  format('opentype'),
	     url('fonts/Gotham-Bold.woff') format('woff'), 
	     url('fonts/Gotham-Bold.ttf')  format('truetype'),
	     url('fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
}

@font-face {
	font-family: 'Gotham-Book';
	src: url('fonts/Gotham-Book.eot?') format('eot'), 
	     url('fonts/Gotham-Book.otf')  format('opentype'),
	     url('fonts/Gotham-Book.woff') format('woff'), 
	     url('fonts/Gotham-Book.ttf')  format('truetype'),
	     url('fonts/Gotham-Book.svg#Gotham-Book') format('svg');
}

@font-face {
	font-family: 'Gotham-Light';
	src: url('fonts/Gotham-Light.eot?') format('eot'), 
	     url('fonts/Gotham-Light.otf')  format('opentype'),
	     url('fonts/Gotham-Light.woff') format('woff'), 
	     url('fonts/Gotham-Light.ttf')  format('truetype'),
	     url('fonts/Gotham-Light.svg#Gotham-Light') format('svg');
}

@font-face {
	font-family: 'Gotham-Thin';
	src: url('fonts/Gotham-Thin.eot?') format('eot'), 
	     url('fonts/Gotham-Thin.otf')  format('opentype'),
	     url('fonts/Gotham-Thin.woff') format('woff'), 
	     url('fonts/Gotham-Thin.ttf')  format('truetype'),
	     url('fonts/Gotham-Thin.svg#Gotham-Thin') format('svg');
}