/**
 * The Fruits
 */
#nav-fruits {
	padding: rem-calc(30) 0;
	background: url(images/bg-the-fruits.jpg);
}

.icon-many-fruits {
	margin-bottom: rem-calc(30);
}

.fruits-line {
	margin-bottom: rem-calc(70);
}

.fruit-name {
	margin-top: rem-calc(30);

	span {
		padding: rem-calc(5) rem-calc(20);
		color: white;
		font-size: rem-calc(24);
		@extend %rounded;
		@extend %transition;
		@include opacity(0);
	}
}

.manga {
	background: #fdba36;
}

.morango {
	background: #ca4a59;
}

.mamao {
	background: #e9653b;
}

.uva {
	background: #88316f;
}

.kiwi {
	background: #9ece92;
}

.melancia {
	background: #db555f;
}

.goiaba {
	background: #f37f81;
}

.maca {
	background: #de2f4f;
}

.banana {
	background: #fdba36;
}

.figure-thumb {
	&:hover {
		span {
			@include opacity(1);
		}
	}
}