/**
 * Bases
 */
body, html {
	overflow-x: hidden;
	@extend %rel;
}
figure {
	margin: 0;
}

/**
 * Utility Classes
 */
.font-bold {
	@extend %font-bold;
}
.font-book {
	@extend %font-book;
}
.font-thin {
	@extend %font-thin;
}
.font-cursive {
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
}
.block {
	display: block;
}
.container {
	width: 100%;
}
.rel {
	@extend %rel;
}
.abs {
	@extend %abs;
}
.white {
	color: white;
}
.rounded {
	@extend %rounded;
}
.centered {
	margin: 0 auto;
}
.primary-article {
	header {
		margin-bottom: rem-calc(20);
	}
	p {
		font-size: rem-calc(14);
		line-height: 1.4;
	}
}
.text-upp {
	text-transform: uppercase;
}
.clear {
	clear: both;
}
.small-text {
	font-size: rem-calc(12);
	line-height: 1.2;
}

/**
 * Modals
 */
.reveal-modal {
	@extend %rounded;
	.red {
		color: #db555f;
	}
	p:not(.red) {
		font-size: rem-calc(14);
	}
}

.close-reveal-modal {
	@extend %rounded;
	padding: rem-calc(5) rem-calc(10);
	background: #db555f;
	color: #fff !important;
}

/**
 * Buttons
 */
.bt-glass {
	@include button($radius: true, $padding: rem-calc(10));
	@extend %font-upp;
	@extend %transition;
	border: 2px solid #ffffff;
	background: transparent;
	color: #fff;
	font-weight: bold;
	&:hover {
		background: white;
		border-color: white;
		color: $orange;
	}
}

.bt-fruit {
	@include button($bg: #e03461, $padding: rem-calc(10), $radius: true);
	color: white;
	@extend %font-upp;
}

/**
 * Top Menu
 */
#top-menu {
	padding: rem-calc(20) 0;
	//margin-bottom: rem-calc(40);
}

.icon-logo {
	@extend %transition;
	&:hover {
		@include rotate(-30deg);
	}
}

.main-menu {
	margin-top: rem-calc(25);

	a {
		@extend %font-upp;
		@extend %font-bold;
		@extend %transition;
		@extend %font-medium;
		font-size: rem-calc(14);
		color: #333;

		&:hover {
			color: $orange;
		}
	}
}

/**
 * Main Slide
 */
#main-slide {
	margin-bottom: rem-calc(100);
}

figure.orange {
	height: rem-calc(538);
	background: url(images/bg-slide-1.jpg) no-repeat top center;
}

figure.green {
	height: rem-calc(538);
	background: url(images/bg-slide-2.jpg) no-repeat top center;
}

.panel-slider {
	margin-top: rem-calc(140);

	&.green {
		margin-left: rem-calc(40);
	}

	p {
		margin-top: rem-calc(20);
		font-weight: 600;
		font-size: rem-calc(18);
		width: 80%;
		float: left;
	}
}

.icon-tigela {
	top: rem-calc(250);
}

.icon-fruits {
	left: rem-calc(-470);
	top: rem-calc(-70);
	z-index: 10;
}

.icon-fruit-man {
	right: 0;
	top: rem-calc(-60);
	z-index: 10;
}

.block-slider {
	@extend %rel;
	z-index: 99999;
}

.slider-figure {
	@extend %transition;
}

.bullets {
	@extend %rel;
	ul {
		@extend %abs;
		width: auto;
		bottom: 0;
		right: 0;
		z-index: 99999999;
	}

	li {
		padding: rem-calc(5);
		background: white;
		@include border-radius(50%);
		margin-left: rem-calc(10);
		cursor: pointer;

		&.active {
			border: 2px solid white;
			background: transparent;
		}
	}
}

/**
 * Frutas, uma boa ideia
 */
#good-idea {
	padding: rem-calc(30) 0;
	background: url(images/bg-fruits.jpg) top center;
}
.orange-glass {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(#d5481c,.9);
}
.icon-good-idea {
	margin: 0 auto;
	margin-bottom: rem-calc(40);
}

.fruits-data {

	.icon {
		width: 100%;
		height: rem-calc(120);
		float: left;
	}
}

.border-icon {
	border: 6px solid rgba($orange,.5);
	@extend %circle;
	height: rem-calc(100);
	width: rem-calc(100);
	margin: 0 auto;
}

.icon-center {
	margin: 0 auto;
	margin-top: 15%;
}

.icon-center.hack-a {
	margin-top: 10%;
}

.icon-center.hack-b {
	margin-top: 20%;
}

.icon-center.hack-c {
	margin-top: 22%;
}

/**
 * Newsletter
 */
#newsletter {
	padding: rem-calc(30) 0;
	background: #e06037;

	input[type="email"] {
		width: rem-calc(300);
		@include border-radius(5px 0 0 5px);
	}

	input {
		border: none;
		margin: 0;
		background-color: white;
	}

	span {
		margin: 0 rem-calc(10);
		line-height: 2.5;
		font-size: rem-calc(18);
	}
}

.form-newsletter {
	width: auto;
	display: table;
	margin: 0 auto;
}

.submit-email {
	background: white;
	padding: 6px;
	@include border-radius(0 5px 5px 0);
	cursor: pointer;
}

/**
 * Social buttons
 */

.social-container {
	padding: rem-calc(30) 0;
	background: #eb6a41;

	a.block {
		@extend %transition;
		@include opacity(.7);
		&:hover {
			@include opacity(1);
		}
	}

	h4 {
		line-height: 2;
	}
}