/**
 * News
 */
#nav-news {
	padding: rem-calc(30) rem-calc(0);
	background: url(images/bg-news.jpg);
	h4 {
		margin-top: rem-calc(20);
	}
	p {
		font-size: rem-calc(14);
		line-height: 1.3;
	}
	a {
		@extend %transition;
		&:hover {
			color: #fffe8f;
		}
	}
}

.news-thumb {
	background: #fff;
	@extend %circle;
	height: rem-calc(200);
	border: rem-calc(10) solid #248f4f;
	margin-bottom: rem-calc(30);
	@extend %transition;
	&:hover {
		background: #fffe8f;
	}
}

.navigation {
	margin-bottom: rem-calc(20);
	ul {
		display: inline-block;
		width: auto;
		margin-top: rem-calc(30);
		margin-bottom: 0;
	}

	a {
		font-size: rem-calc(40);
	}
}

%arrows-navigation {
	bottom: rem-calc(16);
	padding: rem-calc(5) rem-calc(10);
	@include border-radius;
	border: 1px solid white;
}

.next-news {
	right: rem-calc(10);
	@extend %arrows-navigation;
}

.prev-news {
	left: rem-calc(10);
	@extend %arrows-navigation;
}

.icon-shadow {
	margin-right: rem-calc(-20);
}

.share-news {
	padding-left: rem-calc(10);
}