%font-bold {
	font-family: 'Gotham-Bold';
}

%font-book {
	font-family: 'Gotham-Book';
}

%font-thin {
	font-family: 'Gotham-Thin';
}

%transition {
	@include single-transition;
}

%font-upp {
	text-transform: uppercase;
}

%font-medium {
	font-size: rem-calc(16);
}

%rel {
	position: relative;
}

%abs {
	position: absolute;
}

%ovhidden {
	overflow: hidden;
}

%circle {
	@include border-radius(50%);
}

%rounded {
	@include border-radius(rem-calc(10));
}