/**
 * Products - page
 */
.salad-type {
	padding: rem-calc(30) 0;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.salad-pot {
	background-image: url(images/bg-products-1.jpg);
}

.salad-custom {
	background-image: url(images/bg-products-2.jpg);
}

.salad-weight {
	background-image: url(images/bg-products-3.jpg);
}

.fix-margin {
	margin-top: rem-calc(100);
}

//Menu scrolling
%active-menu-product {
	color: white;
	text-decoration: underline;
}
.nav-products-types {
	margin-bottom: rem-calc(40);
	a {
		@extend %transition;
		&:hover {
			@extend %active-menu-product;
		}
		&.active {
			@extend %active-menu-product;
		}
	}	
}

//product info
.product-info {
	padding: rem-calc(40);
	@extend %circle;
	z-index: 0;
	@extend %transition;
	top: 10%;
	height: rem-calc(480);

	&.green {
		@include background-image(linear-gradient(left, rgba(#5cbf83,.8), rgba(#f3eb28,.8)));
	}

	&.violet {
		@include background-image(linear-gradient(left, rgba(#452a6e,.8), rgba(#d64e98,.8)));
		left: rem-calc(-13);
	}
	&.orange {
		@include background-image(linear-gradient(left, rgba(#de2c65,.8), rgba(#f9b019,.8)));
	}

	ul {
		font-size: rem-calc(14);
		margin-top: rem-calc(20);
	}
}

.icon-taca-fruta {
	margin-left: rem-calc(30);
}

.about-product {
	margin-top: rem-calc(100);
}