.icon-alvo {
  background-image: url(images/spritesheet.png);
  background-position: -1376px -377px;
  width: 45px;
  height: 44px;
}
.icon-arrow-left {
  background-image: url(images/spritesheet.png);
  background-position: -1643px -128px;
  width: 15px;
  height: 27px;
}
.icon-arrow-right {
  background-image: url(images/spritesheet.png);
  background-position: -1643px -101px;
  width: 15px;
  height: 27px;
}
.icon-banana {
  background-image: url(images/spritesheet.png);
  background-position: -1169px -149px;
  width: 118px;
  height: 124px;
}
.icon-band {
  background-image: url(images/spritesheet.png);
  background-position: -1290px -303px;
  width: 243px;
  height: 74px;
}
.icon-bt-facebook {
  background-image: url(images/spritesheet.png);
  background-position: -1421px -377px;
  width: 42px;
  height: 43px;
}
.icon-bt-google {
  background-image: url(images/spritesheet.png);
  background-position: -1463px -377px;
  width: 44px;
  height: 43px;
}
.icon-bt-goole {
  background-image: url(images/spritesheet.png);
  background-position: -1507px -377px;
  width: 44px;
  height: 43px;
}
.icon-bt-twitter {
  background-image: url(images/spritesheet.png);
  background-position: -1551px -377px;
  width: 44px;
  height: 43px;
}
.icon-bullet-map {
  background-image: url(images/spritesheet.png);
  background-position: -1549px -173px;
  width: 20px;
  height: 25px;
}
.icon-close-orange {
  background-image: url(images/spritesheet.png);
  background-position: -1596px -267px;
  width: 33px;
  height: 33px;
}
.icon-close-violet {
  background-image: url(images/spritesheet.png);
  background-position: -1623px -434px;
  width: 33px;
  height: 33px;
}
.icon-compromisso {
  background-image: url(images/spritesheet.png);
  background-position: -1290px 0px;
  width: 368px;
  height: 101px;
}
.icon-contact-title {
  background-image: url(images/spritesheet.png);
  background-position: -866px -932px;
  width: 145px;
  height: 105px;
}
.icon-controle {
  background-image: url(images/spritesheet.png);
  background-position: -609px -1179px;
  width: 411px;
  height: 101px;
}
.icon-copo-fruta {
  background-image: url(images/spritesheet.png);
  background-position: -361px 0px;
  width: 439px;
  height: 581px;
}
.icon-etapas {
  background-image: url(images/spritesheet.png);
  background-position: -1290px -202px;
  width: 306px;
  height: 101px;
}
.icon-facebook {
  background-image: url(images/spritesheet.png);
  background-position: -1352px -472px;
  width: 30px;
  height: 30px;
}
.icon-fruit-man {
  background-image: url(images/spritesheet.png);
  background-position: 0px 0px;
  width: 361px;
  height: 599px;
}
.icon-fruits {
  background-image: url(images/spritesheet.png);
  background-position: 0px -599px;
  width: 701px;
  height: 446px;
}
.icon-goiaba {
  background-image: url(images/spritesheet.png);
  background-position: -1169px -636px;
  width: 119px;
  height: 115px;
}
.icon-good-idea-white {
  background-image: url(images/spritesheet.png);
  background-position: 0px -1045px;
  width: 427px;
  height: 134px;
}
.icon-good-idea {
  background-image: url(images/spritesheet.png);
  background-position: 0px -1179px;
  width: 338px;
  height: 105px;
}
.icon-google {
  background-image: url(images/spritesheet.png);
  background-position: -1290px -472px;
  width: 31px;
  height: 31px;
}
.icon-gota {
  background-image: url(images/spritesheet.png);
  background-position: -1290px -377px;
  width: 38px;
  height: 57px;
}
.icon-health {
  background-image: url(images/spritesheet.png);
  background-position: 0px -1284px;
  width: 486px;
  height: 58px;
}
.icon-kiwi {
  background-image: url(images/spritesheet.png);
  background-position: -560px -1045px;
  width: 131px;
  height: 120px;
}
.icon-logistica {
  background-image: url(images/spritesheet.png);
  background-position: -1169px -751px;
  width: 121px;
  height: 101px;
}
.icon-logo {
  background-image: url(images/spritesheet.png);
  background-position: -1575px -101px;
  width: 68px;
  height: 69px;
}
.icon-maca {
  background-image: url(images/spritesheet.png);
  background-position: -1169px -516px;
  width: 118px;
  height: 120px;
}
.icon-mamao {
  background-image: url(images/spritesheet.png);
  background-position: -1169px -273px;
  width: 103px;
  height: 122px;
}
.icon-manga {
  background-image: url(images/spritesheet.png);
  background-position: -701px -932px;
  width: 165px;
  height: 113px;
}
.icon-many-fruits {
  background-image: url(images/spritesheet.png);
  background-position: -691px -1045px;
  width: 344px;
  height: 105px;
}
.icon-medicinal {
  background-image: url(images/spritesheet.png);
  background-position: -1328px -377px;
  width: 48px;
  height: 49px;
}
.icon-melancia {
  background-image: url(images/spritesheet.png);
  background-position: -1169px -395px;
  width: 119px;
  height: 121px;
}
.icon-morango {
  background-image: url(images/spritesheet.png);
  background-position: -427px -1045px;
  width: 133px;
  height: 128px;
}
.icon-news {
  background-image: url(images/spritesheet.png);
  background-position: -338px -1179px;
  width: 271px;
  height: 105px;
}
.icon-newsletter {
  background-image: url(images/spritesheet.png);
  background-position: -1328px -434px;
  width: 38px;
  height: 37px;
}
.icon-parceiro {
  background-image: url(images/spritesheet.png);
  background-position: -1290px -101px;
  width: 213px;
  height: 101px;
}
.icon-phone {
  background-image: url(images/spritesheet.png);
  background-position: -1290px -434px;
  width: 38px;
  height: 38px;
}
.icon-raio {
  background-image: url(images/spritesheet.png);
  background-position: -1533px -303px;
  width: 36px;
  height: 63px;
}
.icon-rede {
  background-image: url(images/spritesheet.png);
  background-position: -1503px -101px;
  width: 72px;
  height: 72px;
}
.icon-seta {
  background-image: url(images/spritesheet.png);
  background-position: -1596px -202px;
  width: 37px;
  height: 65px;
}
.icon-shadow {
  background-image: url(images/spritesheet.png);
  background-position: -1366px -434px;
  width: 257px;
  height: 34px;
}
.icon-submit {
  background-image: url(images/spritesheet.png);
  background-position: -1537px -173px;
  width: 12px;
  height: 25px;
}
.icon-taca-fruta {
  background-image: url(images/spritesheet.png);
  background-position: -800px 0px;
  width: 369px;
  height: 549px;
}
.icon-tigela {
  background-image: url(images/spritesheet.png);
  background-position: -701px -599px;
  width: 363px;
  height: 333px;
}
.icon-trofeu {
  background-image: url(images/spritesheet.png);
  background-position: -1595px -377px;
  width: 46px;
  height: 42px;
}
.icon-twitter {
  background-image: url(images/spritesheet.png);
  background-position: -1321px -472px;
  width: 31px;
  height: 31px;
}
.icon-uva {
  background-image: url(images/spritesheet.png);
  background-position: -1169px 0px;
  width: 121px;
  height: 149px;
}
.icon-vitaminas {
  background-image: url(images/spritesheet.png);
  background-position: -1569px -303px;
  width: 61px;
  height: 60px;
}
.icon-wfbd {
  background-image: url(images/spritesheet.png);
  background-position: -1503px -173px;
  width: 34px;
  height: 29px;
}
