<figure class="container left green wow slideInRight">
    <div class="row rel block-slider">
        <div class="icon-fruit-man abs wow slideInRight" data-wow-duration="0.2"></div>

        <div class="left small-7 panel-slider wow fadeInUp green" data-wow-delay="1.5s">
            <div class="icon-health"></div>
            <p class="font-book white green">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, ducimus, odit, iure inventore deserunt doloremque.</p><br style="clear:both;">
            <a href="#" class="bt-glass">Conheça nossos produtos</a>
        </div>
    </div>
</figure>