<figure class="container left orange wow slideInLeft">
            <div class="row rel block-slider">
              <div class="icon-fruits abs wow slideInLeft" data-wow-delay="0.5s"></div>
              <div class="icon-tigela abs wow slideInRight" data-wow-delay="0.5s"></div>

              <div class="right small-7 panel-slider wow fadeInUp" data-wow-delay="1.5s">
                <div class="icon-health"></div>
                <p class="font-book white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, ducimus, odit, iure inventore deserunt doloremque.</p><br>
                <a href="#" class="bt-glass">Conheça nossos produtos</a>
              </div>
            </div>
          </figure>